/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/Harjoitustyo/build/
/Harjoitustyo/dist/
/Harjoitustyo/nbproject/private/
/mavenproject1/target/